# первая часть #

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
!pip install pymatgen

In [3]:
import pandas as pd
from pymatgen.core import periodic_table, composition

In [27]:
path_to_pymatgen = '/content/drive/MyDrive/datacon2023/minitask_2/data_pymatgen.csv'

data = pd.read_csv(path_to_pymatgen)
data.head()

,Unnamed: 0,Material,Element,Ionic Radius,Average Electronegativity,Molecular weight
0,0,CuO,NaN,NaN,NaN,NaN
1,1,ZnO,NaN,NaN,NaN,NaN
2,4,Mn2O3,NaN,NaN,NaN,NaN
3,8,CoO,NaN,NaN,NaN,NaN
4,80,CeO2,NaN,NaN,NaN,NaN

In [28]:
for i in data.Material:
  compound = composition.Composition(i)

  # некислородный элемент из оксида
  elements = compound.elements
  data.loc[data.Material==i,('Element')] = elements[0]

  # ионный радиус для среднего значения степеней окисления некислородного элемента
  ion = periodic_table.Element(compound.elements[0])
  data.loc[data.Material==i,('Ionic Radius')] = ion.average_ionic_radius

  # молярная масса
  molar_mass = compound.weight
  data.loc[data.Material==i,('Molecular weight')] = molar_mass

  # средняя электроотрицательность
  electronegativities = []
  for element in elements:
      electronegativities.append(element.X)
  average_electronegativity = sum(electronegativities) / len(electronegativities)
  data.loc[data.Material==i,('Average Electronegativity')] = average_electronegativity

In [29]:
data

,Unnamed: 0,Material,Element,Ionic Radius,Average Electronegativity,Molecular weight
0,0,CuO,Cu,0.820000,2.670,79.545400
1,1,ZnO,Zn,0.880000,2.545,81.408400
2,4,Mn2O3,Mn,0.648333,2.495,157.874290
3,8,CoO,Co,0.768333,2.660,74.932595
4,80,CeO2,Ce,1.080000,2.280,172.114800
5,82,Fe2O3,Fe,0.852500,2.635,159.688200
6,83,Gd2O3,Gd,1.075000,2.320,362.498200
7,84,HfO2,Hf,0.850000,2.370,210.488800
8,87,In2O3,In,0.940000,2.610,277.634200
9,92,La2O3,La,1.172000,2.270,325.809140
10,96,NiO,Ni,0.740000,2.675,74.692800
11,97,Sb2O3,Sb,0.830000,2.745,291.518200
12,99,SiO2,Si,0.540000,2.670,60.084300
13,102,Al2O3,Al,0.675000,2.525,101.961277
14,5,Se,Se,1.013333,2.550,78.960000
15,71,CuS,Cu,0.820000,2.240,95.611000
16,809,TiO2,Ti,0.851667,2.490,79.865800
17,1054,Ti,Ti,0.851667,1.540,47.867000
18,1070,Cr,Cr,0.940000,1.660,51.996100
19,1086,Co,Co,0.768333,1.880,58.933195
20,1138,Co3O4,Co,0.768333,2.660,240.797185
21,1157,CdO,Cd,1.090000,2.565,128.410400
22,1162,MnO,Mn,0.648333,2.495,70.937445
23,1182,Bi,Bi,1.035000,2.020,208.980400
24,1270,Mo,Mo,0.775000,2.160,95.940000
25,1275,Pt,Pt,0.805000,2.280,195.084000
26,1403,Cu2O,Cu,0.820000,2.670,143.091400
27,1483,MgO,Mg,0.860000,2.375,40.304400
28,1830,Au,Au,1.070000,2.540,196.966569
29,2006,Ag,Ag,1.086667,1.930,107.868200
30,2351,Ni,Ni,0.740000,1.910,58.693400
31,2992,ZrO2,Zr,0.860000,2.385,123.222800
32,3931,Cu,Cu,0.820000,1.900,63.546000
33,3965,Bi2O3,Bi,1.035000,2.730,465.959000
34,548,Fe3O4,Fe,0.852500,2.635,231.532600

In [30]:
data.to_csv('minitask_2_1_13.csv')

# вторая часть #

In [11]:
!pip install rdkit
!pip install pubchempy

In [12]:
import pandas as pd
import numpy as np

from rdkit import Chem
from rdkit.Chem import rdMolDescriptors
from rdkit.Chem import Descriptors

In [13]:
# загружаем список нужных дескрипторов

with open(r'/content/drive/MyDrive/datacon2023/minitask_2/chosen_descriptors.txt', 'r') as file:
    descriptors = [mol.replace('\n', '') for mol in file]

descriptors

['Chi0n',
 'Chi0v',
 'EState_VSA9',
 'ExactMolWt',
 'FpDensityMorgan1',
 'NumAromaticRings',
 'NumHAcceptors',
 'NumHDonors',
 'NumHeteroatoms',
 'NumValenceElectrons',
 'PEOE_VSA1',
 'PEOE_VSA9',
 'RingCount',
 'SMR_VSA1',
 'SlogP_VSA2',
 'TPSA',
 'VSA_EState1']

функция которая принимает на вход нужные дескрипторы и молекулу и возвращает список этих дескрипторов для данной молекулы

In [14]:
from rdkit.ML.Descriptors.MoleculeDescriptors import MolecularDescriptorCalculator

In [15]:
def get_descriptor_values(mol, descriptors):
  calc = MolecularDescriptorCalculator(descriptors)
  ds = calc.CalcDescriptors(mol)
  return list(ds)

In [16]:
for i in range(15):
  sdf_file = Chem.MolFromMolFile(f'/content/drive/MyDrive/datacon2023/minitask_2/mol_files/mol_files/file_{i}.sdf')
  lst = get_descriptor_values(sdf_file, descriptors)
  print(lst)

[14.627154049305076, 15.383082995323532, 11.600939890232516, 375.140134876, 1.0769230769230769, 2, 3, 1, 5, 138, 10.006437125691184, 5.601050810983688, 3, 14.291479626587346, 35.42395128979385, 40.54, 12.905095918537544]
[23.128347803352913, 23.128347803352913, 42.63176658420044, 588.184291084, 0.8809523809523809, 2, 13, 3, 13, 226, 57.95134876872255, 39.4552314454906, 7, 62.745885952794374, 92.51110779981832, 160.82999999999998, 51.52619149706759]
[15.442229938874268, 15.442229938874268, 0.0, 360.193673996, 1.3076923076923077, 0, 5, 3, 5, 142, 15.319582184522117, 6.103966387748303, 4, 24.90865655266576, 45.1979712404969, 94.83000000000001, 0.0]
[9.737974215908514, 9.737974215908514, 9.843390348640755, 258.05282342, 0.8947368421052632, 2, 4, 2, 5, 96, 14.94991774348146, 0.0, 2, 24.538992111625106, 22.15166536558511, 83.83000000000001, 4.993935185185185]
[48.66008583125275, 48.66008583125275, 28.668337385810926, 1154.7499271960003, 0.5308641975308642, 0, 18, 18, 29, 464, 97.366066819562, 12.207932775496605, 1, 62.952963814471445, 187.08691131499964, 490.6599999999996, 0.0]
[16.49143226539892, 17.247361211417378, 11.600939890232516, 410.166015276, 1.3214285714285714, 0, 4, 2, 6, 154, 10.213054789681411, 10.978138679189412, 4, 24.19254420549987, 45.536240721623905, 74.6, 15.30517227261275]
[15.894379343310854, 18.102748509546956, 61.278328738088454, 490.08467573199994, 0.5161290322580645, 0, 16, 12, 17, 180, 81.08045789591353, 25.152374504929533, 0, 81.08045789591353, 185.20860162666665, 323.0199999999999, 0.0]
[23.157197977560518, 23.157197977560518, 23.684314769000245, 545.262481828, 1.1282051282051282, 1, 10, 2, 10, 214, 33.89736955868165, 37.69829881500951, 5, 43.486443926825295, 83.99861855901466, 123.99, 28.096740266922776]
[18.181756412305116, 18.181756412305116, 9.473725907600098, 416.219888744, 1.2666666666666666, 0, 6, 2, 6, 164, 19.68678069728151, 12.207932775496605, 5, 29.275855065425155, 51.98252138597509, 93.06, 12.557699591774268]
[16.047802747874353, 16.047802747874353, 0.0, 344.23514488399996, 1.28, 0, 3, 1, 3, 138, 5.106527394840706, 6.103966387748303, 4, 14.69560176298435, 22.776983675318885, 54.37, 0.0]
[9.044308372493166, 9.860804953420892, 10.256762414135533, 253.052112212, 1.2941176470588236, 2, 5, 2, 7, 90, 10.256762414135533, 4.895483475517775, 2, 12.940891921302285, 13.574460241454382, 98.22, 30.846883083480307]
[9.881171665676636, 9.881171665676636, 0.0, 258.0640568, 1.0, 1, 4, 1, 6, 96, 0.0, 11.126902983393991, 3, 19.178148736287287, 34.57046947740446, 83.55, 0.0]
[13.210559292998136, 13.210559292998136, 9.473725907600098, 301.167793596, 1.3636363636363635, 1, 4, 1, 4, 118, 19.480163033291284, 13.213763929025836, 5, 14.580253302440804, 48.95843666020305, 41.93, 11.90571452191988]
[7.266777096601536, 8.083273677529261, 0.0, 201.036068224, 1.2142857142857142, 3, 3, 1, 4, 68, 4.9839785209472085, 16.543940708849902, 3, 0.0, 14.951935562841626, 41.57, 0.0]
[10.654903993953836, 10.654903993953836, 9.629622331814055, 284.05972036800006, 1.1428571428571428, 3, 4, 1, 6, 104, 9.629622331814055, 11.126902983393991, 3, 18.814574563560697, 21.216474460865207, 76.22, 18.689243081887383]

делаем датафрейм с молекулами в виде смайлз и вычисленными дескрипторами

In [17]:
# лист со всеми молекулами из файла

mols = []
for i in range(15):
  sdf_file = Chem.MolFromMolFile(f'/content/drive/MyDrive/datacon2023/minitask_2/mol_files/mol_files/file_{i}.sdf')
  mols.append(sdf_file)

через написанную функцию оказалось не так удобно, чем сразу в датафрейм со встроенной функцией CalcMolDescriptors

In [18]:
descrs = [Descriptors.CalcMolDescriptors(mol) for mol in mols] # получаем все-все дескрипторы
df = pd.DataFrame(descrs)

In [20]:
df_descr = df[descriptors] # берем только нужные нам дескрипторы

In [21]:
df_descr.insert(0, 'molecule', [Chem.MolToSmiles(mol) for mol in mols])

In [22]:
df_descr

,molecule,Chi0n,Chi0v,EState_VSA9,ExactMolWt,FpDensityMorgan1,NumAromaticRings,NumHAcceptors,NumHDonors,NumHeteroatoms,NumValenceElectrons,PEOE_VSA1,PEOE_VSA9,RingCount,SMR_VSA1,SlogP_VSA2,TPSA,VSA_EState1
0,O=C(CCCN1CCC(O)(c2ccc(Cl)cc2)CC1)c1ccc(F)cc1,14.627154,15.383083,11.600940,375.140135,1.076923,2,3,1,5,138,10.006437,5.601051,3,14.291480,35.423951,40.54,12.905096
1,COc1cc([C@@H]2c3cc4c(cc3[C@@H](O[C@@H]3O[C@@H]...,23.128348,23.128348,42.631767,588.184291,0.880952,2,13,3,13,226,57.951349,39.455231,7,62.745886,92.511108,160.83,51.526191
2,C[C@]12C=CC(=O)C=C1CC[C@@H]1[C@@H]2[C@@H](O)C[...,15.442230,15.442230,0.000000,360.193674,1.307692,0,5,3,5,142,15.319582,6.103966,4,24.908657,45.197971,94.83,0.000000
3,O=C(Oc1ccccc1C(=O)O)c1ccccc1O,9.737974,9.737974,9.843390,258.052823,0.894737,2,4,2,5,96,14.949918,0.000000,2,24.538992,22.151665,83.83,4.993935
4,CCC(C)CCCC(=O)N[C@@H](CCN)C(=O)N[C@H](C(=O)N[C...,48.660086,48.660086,28.668337,1154.749927,0.530864,0,18,18,29,464,97.366067,12.207933,1,62.952964,187.086911,490.66,0.000000
5,C[C@@H]1C[C@H]2[C@@H]3C[C@H](F)C4=CC(=O)C=C[C@...,16.491432,17.247361,11.600940,410.166015,1.321429,0,4,2,6,154,10.213055,10.978139,4,24.192544,45.536241,74.60,15.305172
6,O=C([O-])C(O)[C@H](O)[C@@H](O)[C@H](O)[C@H](O)...,15.894379,18.102749,61.278329,490.084676,0.516129,0,16,12,17,180,81.080458,25.152375,0,81.080458,185.208602,323.02,0.000000
7,COC(=O)C[C@](O)(CCCC(C)(C)O)C(=O)O[C@@H]1C(OC)...,23.157198,23.157198,23.684315,545.262482,1.128205,1,10,2,10,214,33.897370,37.698299,5,43.486444,83.998619,123.99,28.096740
8,CC1(C)O[C@@H]2C[C@H]3[C@@H]4CCC5=CC(=O)C=C[C@]...,18.181756,18.181756,9.473726,416.219889,1.266667,0,6,2,6,164,19.686781,12.207933,5,29.275855,51.982521,93.06,12.557700
9,CC(=O)[C@H]1CC[C@H]2[C@@H]3C[C@H](C)C4=CC(=O)C...,16.047803,16.047803,0.000000,344.235145,1.280000,0,3,1,3,138,5.106527,6.103966,4,14.695602,22.776984,54.37,0.000000
10,Cc1cc(NS(=O)(=O)c2ccc(N)cc2)no1,9.044308,9.860805,10.256762,253.052112,1.294118,2,5,2,7,90,10.256762,4.895483,2,12.940892,13.574460,98.22,30.846883
11,O=C1CCC(N2C(=O)c3ccccc3C2=O)C(=O)N1,9.881172,9.881172,0.000000,258.064057,1.000000,1,4,1,6,96,0.000000,11.126903,3,19.178149,34.570469,83.55,0.000000
12,COc1ccc2c3c1O[C@H]1[C@@H](O)CC[C@H]4[C@@H](C2)...,13.210559,13.210559,9.473726,301.167794,1.363636,1,4,1,4,118,19.480163,13.213764,5,14.580253,48.958437,41.93,11.905715
13,c1ccc2[nH]c(-c3cscn3)nc2c1,7.266777,8.083274,0.000000,201.036068,1.214286,3,3,1,4,68,4.983979,16.543941,3,0.000000,14.951936,41.57,0.000000
14,O=C(O)c1cccc(-c2noc(-c3ccccc3F)n2)c1,10.654904,10.654904,9.629622,284.059720,1.142857,3,4,1,6,104,9.629622,11.126903,3,18.814575,21.216474,76.22,18.689243

In [24]:
df_descr.to_csv('minitask_2_2_13.csv')